<div class="overflow-auto border-round-3xl border-1 border-primary-500 my-3 justify-content-center"
    style=" width: 98%;">
    <div>
        <div class="sticky flex font-bold bg-primary p-4 justify-content-evenly align-items-center" style="top: 25px;">
            <h2 class="text-center">
                <a [routerLink]="'/'" class="no-underline text-red-500 hover:text-red-700 text-4xl cursor-pointer mt-2 mb-3 fadein animation-duration-1000"> MeetupPK</a>
              </h2>

            <p-button *ngIf="isAuthenicated" label="Sign Out"
                styleClass="bg-indigo-900 text-color-secondary p-button-rounded p-button-danger p-button-raised p-button-md"
                class="nav-btn text-base" (onClick)="signOutbtn()"></p-button>
        </div>

    </div>
</div>