<div class="container flex justify-content-center align-items-center">
  <form class="flex surface-card flex-column gap-3 w-3 row p-5 border-round-lg h-32rem" [formGroup]="signUpForm"
    (keydown)="onKeyDown($event.key)">
    <h2 class=" text-center">
      <a [routerLink]="'/'" class="no-underline text-red-500 hover:text-red-700 text-4xl cursor-pointer mt-2 mb-3 fadein animation-duration-1000 text-red-500 hover:text-red-700 text-4xl"> MeetupPK</a>
    </h2>
    <div>
      <h6 class="text-2xl my-1 sign">SignUp</h6>
    </div>
    <div class="flex flex-column gap-1 h-4rem">
      <input class="w-100 p-inputtext-sm text-base" type="text" pInputText formControlName="email"
        placeholder="Email" />
      <small *ngIf="
          signUpForm.controls['email'].invalid &&
          (signUpForm.controls['email'].dirty ||
            signUpForm.controls['email'].touched)
        " class="p-error font-medium">Enter valid email in the required field</small>
    </div>

    <div class="flex flex-column gap-1 h-4rem">
      <input class="w-100 p-inputtext-sm text-base" type="password" pInputText formControlName="password"
        placeholder="Password" />
      <small *ngIf="
          signUpForm.controls['password'].invalid &&
          (signUpForm.controls['password'].dirty ||
            signUpForm.controls['password'].touched)
        " class="p-error font-medium">Enter valid password in the required field</small>
    </div>



    <div class="flex justify-content-center mt-2">
      <p-button styleClass="p-button-rounded  p-button-lg" class="btn-lg text-base" label="Submit"
        [loading]="isAPIBeingCalled" [disabled]="signUpForm.invalid" (onClick)="createUser()"></p-button>
    </div>

    <div class="text-center mt-4 mb-1">
      <a class="no-underline text-xl font-medium" [routerLink]="'/auth/sign-in'">Already have an account?</a>
    </div>
  </form>
</div>

<p-toast [life]="10000"></p-toast>