<div class="overflow-y-scroll pr-3" style="height: 80vh;">
    <div style=" height: 300px;" class="bg-primary  border-round-3xl mb-4">
        <img src="" alt="">
        <p>events works!</p>
        <button (click)="getEvents()">Check</button>
        <div>
            <h5>Event1:</h5>
            <p>Event Name</p>
        </div>
    </div>
    <div style=" height: 300px;" class="bg-primary  border-round-3xl mb-4">
        <img src="" alt="">
        <p>events works!</p>
        <div>
            <h5>Event1:</h5>
            <p>Event Name</p>
        </div>
    </div>

    <div style=" height: 300px;" class="bg-primary  border-round-3xl mb-4">
        <img src="" alt="">
        <p>events works!</p>
        <div>
            <h5>Event1:</h5>
            <p>Event Name</p>
        </div>
    </div>
</div>

