<div class="container flex justify-content-center align-items-center">
  <form class="flex surface-card flex-column gap-3 w-3 row p-5 border-round-lg h-32rem" [formGroup]="signInForm"  (keydown)="onKeyDown($event.key)">
    <div class="flex flex-column gap-4">
      <h2 class="text-center">
        <a [routerLink]="'/'" class="no-underline text-red-500 hover:text-red-700 text-4xl cursor-pointer mt-2 mb-3 fadein animation-duration-1000"> Meetup Pak</a>
      </h2>
    </div>
    <div>
      <h3 class="text-2xl my-1 sign">Sign In</h3>
    </div>
    <div class="flex flex-column gap-1 h-4rem">
      <input class="w-100 p-inputtext-sm text-base" type="text" pInputText formControlName="email" placeholder="Email" />
      <small *ngIf="
          signInForm.controls['email'].invalid &&
          (signInForm.controls['email'].dirty ||
            signInForm.controls['email'].touched)
        " class="p-error font-medium">Enter valid email in the required field</small>
    </div>

    <div class="flex flex-column gap-1 h-4rem">
      <input class="w-100 p-inputtext-sm text-base" type="password" pInputText formControlName="password"
        placeholder="Password" />
      <small *ngIf="
          signInForm.controls['password'].invalid &&
          (signInForm.controls['password'].dirty ||
            signInForm.controls['password'].touched)
        " class="p-error font-medium">Enter valid password in the required field</small>
    </div>



    <!-- <div class="flex gap-2 p-inputtext-sm">
      <p-checkbox value="New York" inputId="remember"></p-checkbox>
      <label for="remember">Remember me?</label>
    </div> -->

    <div class="flex justify-content-center mt-2">
      <p-button styleClass="p-button-rounded  p-button-lg" class="text-base btn-lg" label="Submit" 
      [loading]="isAPIBeingCalled" (onClick)="loginUser()"></p-button>
    </div>

    <div class="text-center mt-4 mb-1">
      <a class="no-underline text-xl font-medium" [routerLink]="'/auth/sign-up'">Create an account</a>
    </div>
  </form>
</div>


<p-toast [life]="10000"></p-toast>