@import "primeng/resources/themes/mdc-dark-indigo/theme.css";

html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    margin: 0px;
    padding: 0px;
    width:100%;
    height:100vh;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.btn-lg span{
    padding: 0 25px !important;
}

.sign{
    color:#D0ADF0;
}

.nav{
}

.nav-btn button span{
    padding: 3px 25px;
    font-size:medium;
    
}

.bg-pur{
    background-color:#9D76C1
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #9D76C1; 
    border-radius: 8px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9D76C1; 
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9D76C1; 
  }