@import "primeng/resources/themes/mdc-dark-indigo/theme.css";

html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    margin: 0px;
    padding: 0px;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.btn-lg span{
    padding: 0 25px !important;
}

.sign{
    color:#D0ADF0;
}

.nav{
}

.nav-btn button span{
    padding: 3px 25px;
    font-size:medium;
    
}
