/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: black;
    color: white;
    font-family: monospace;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    
}

.container .member-col div{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.container img{
    border-radius: 50%;
    margin: 0 5em;
    width: 300px;
    height: 300px;
    border: 2px dashed yellow;
    
}

.container h4{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 2em;
}

.text-align{
    text-align: center;
}


.member-col{
    display: flex;
}
